@import url("https://fonts.googleapis.com/css2?family=Inter&family=Sora&display=swap");

.btn {
  background-color: #f0f3ff;
  color: #3d3d3d;
  padding: 0.5rem 1rem;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.21rem;
  border-radius: 1rem;
  text-decoration-line: none;
}

.text {
  font-family: Sora;
  color: #3d3d3d;
}
